@import 'antd/dist/antd.css';

.App {
  text-align: center;
}
.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red
  ;
}
.tableR{
  width:80%;
  margin-top:2%;
}
.search{
  width:30%; 
  /* margin-top:5%; */
  margin-right: 50%;

}
/* thead[class*="ant-table-thead"] th{
  background-color: whitesmoke	 !important;
} */

/* .one {
  display: inline-block;

  border:1px solid red;
  width:50%;
}
.two {
  border:1px solid green;
}
.container{
  border:1px solid blue;

} */
.btn{
  position: absolute;
  top: 151px;

  /* top: 145px; */
  /* right: 832px; */
  right:150px;
}
.nestedTable{
  margin-left:4%;
}
.nestedTable tr{
  /* background-color:red; */
  border:3px solid green;
}

.one{
width:50%;
/* background-color:red; */
/* border:1px solid green; */
}
.two, .three{
  width:25%;
  /* background-color:blue;
  border:1px solid yellow; */
}
.recordingHeading{
 margin-right: 10%;
 margin-top: 3%;
}
.formItems{
  border: 1px solid black;
  padding:20px;
  width:60%;
}
.Col1{
  /* border:1px solid red; */
  padding-left: 20px;
}
/* .Col2{
  border:1px solid green;
}
.Col3{
  border:1px solid blue;
}
h1{
  border:1px solid blue;

} */
.row2{
  margin-top:30px;
}
.formBtn{
  /* border:1px solid red; */
  margin-top:20px;
}
.back{
  margin-top:110%;
  margin-right:15%;

}