@import 'antd/dist/antd.css';

.App {
  text-align: center;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top:38px;
  ;
}
.tableR{
  width:80%;
}
.search{
  width:30%; 
  margin-right: 50%;

}

.btn{
  position: absolute;
  top: 151px;
  right:150px;
}
.nestedTable{
  margin-left:4%;
}
.nestedTable tr{
  border:3px solid green;
}

.one{
width:50%;
}
.two, .three{
  width:25%;
}
.recordingHeading{
 margin-right: 10px;
 margin-top: 3%;
}
.formItems{
  border: 1px solid #C0C0C0		;
  padding:20px;
  width:60%;
}
.Col1{
  padding-left: 20px;
}

.row2{
  margin-top:30px;
}
.formBtn{
  margin-top:30px;
}

.back{
  margin-top:332px;
  margin-right:2%;
  width:45%;
}
.col4{
  padding-left:15px; 
   padding-right:80px;
}
.rec{
  margin:0px;
  background-color: grey;
}

td { 
  padding: 20px;
}
.home{
  text-align: center;
  margin-top:50px;

}

body{
  background: #f8f9fa;

}
.home2{
  padding:50px;
  text-align: center;
}
.c1{
padding-left:50px;
padding-right:50px;
padding-bottom:50px;

}
.c2{
  padding-left:80px;
  padding-right:50px;
  padding-bottom:50px;

}



Button{
  border-radius: 6px !important;
}


.recordingGif{
  width:130% ;
  height:130% ;
  
  }
  .row1{
    border: 1px solid #C0C0C0		;
    padding:50px;
    margin-left: 120px; 
    margin-right:120px; 
}
.footer{
  background-color:#E8E8E8;
  padding:20px;
  margin-top: 250px;
}
.recordingGif2{
  width:65% ;
  height:350px ;
  /* margin-top:50px; */
  
  }
  .recordingGif3{
    width:65% ;
    height:350px ;
    margin-left: 250px;
  }  
  
.div2{
  margin-top: 60px;
}
.downloadBtn{
  width:40%;
  height:70px;
  font-size: 20px;
  padding:5px;
  margin-left: 315px;;
  
}

.btnRow{
  background-color: #E8E8E8	;
  width: 80%;
  margin-left:140px;
  padding:50px;
  margin-top: 70px;
}
.detailsBtn{
  width:15%;
  height:60px;
  font-size: 20px;
  margin-left: 17%;
  margin-right: 50%;
  margin-top: 80px;
  margin-bottom: -100px;

}

.details{
  width:50% ;
  height:350px ;
  border:1px solid grey;
}  
.detailPage{
  margin-left:10%;
}
  

